
body {
  background-image: url("images/background.jpg");
  background-size: cover;
  color: #0a1520;
  font-family: 'Poppins', sans-serif;
}

h1 {
  margin: 0px;
  text-align: center;
  font-size: 20px;
  color: white;
  text-shadow: 2px 4px grey;
  padding: 20px;
}

.red-blue-planet {
  margin-left: 80vw;
  max-width: 110px;
}

.planet3 {
  z-index: 10;
  max-width: 150px;
  margin-left: 100px;
}

.flamingo {
  margin-left: 80vw;
  max-height: 115.172px;
}

.click-change {
  margin: 0px;
}

img.orange-planet {
  z-index: 0;
  position: fixed;
  display: flex;
  margin-left: 50vw;
  padding: 0;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  
  object-fit: contain;

  /* position: absolute; */
}

.alienShip {
  margin-top: 200px;
  margin-left: 250px;
  max-width: 200px;
}

.planet5 {
  animation-duration: 3s;
  animation-name: slidein;
  z-index: 40;
  max-width: 300px;
  padding: 200px;
  left: 300px;


}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 200%;
  }

  to {
    margin-left: 10%;
    width: 100%;
  }
}